extends ../admin-layout
block content
	div(class="admin-main")
		table(class="table add-article-table")
			thead
				tr
					th title
					th author
					th body
					th date
					th update
					th edit
			tbody
				-for(var item=0; item<list.length; item++)
					tr(id=list[item]._id)
						td
							a(href='/article/'+list[item]._id,target="_blank")=(list[item].title||'')
						td=list[item].author
						td=utils.slice(list[item].body,50)
						td=utils.getDateString(list[item].date)
						td=utils.getDateString(list[item].updateDate)
						td
							a(class="btn btn-1",href="/admin/add?id="+list[item]._id) 编辑
							span(class="btn btn-1") 删除	 
block scripts
	script(src="/javascripts/src/admin.js")